<!DOCTYPE html>
<head>
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    
    <title>d a t a g o b l i n s</title>
</head>
<body>
    <!-- step 1: randomly generate a yoga pose, and display a picture -->
    <!-- this will have to call a function in scripts.js, which should make an api call?-->
    <h3>Your pose to try: </h3>
    <img src="{{ url_for('static', filename=filename) }}" width="400" height="500" alt="{{ filename }}"></img>
    <p id="pose"></p>
    <!--<video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" class="d-none"></canvas>
    <button type="button" onClick="takePic()">take picture!</button>-->
    <div id="video_predict">
        {{url_for}}
    </div>
    <p id="pose-response"></p>
    <p id="pose-score"></p>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js')}}"></script>
</body>
</html>